<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Rest Proxy Example</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extjs/ux/css/LiveSearchGridPanel.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extjs/ux/statusbar/css/statusbar.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extjs/resources/css/ext-all-neptune.css" />
    
    

    <!-- GC -->


	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}extjs/ext-all.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}extjs/ext-theme-neptune.js"></script>
    <script type="text/javascript" src="http://jqueryfiledownload.apphb.com/Scripts/jquery.fileDownload.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/app.js"></script>
</head>
<body>
    
</body>
</html>
